.App {
  text-align: center;
}

.header {
  background-color: rgb(245, 214, 153);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  outline: 2px solid
}

.nav_links{
  margin: 0px 50px 10px 50px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  background-image: url('https://www.arover.net/wp-content/uploads/2022/06/The-first-real-images-of-the-James-Webb-space-telescope-will.jpg');
  align-items: center;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 1px black;
}

.post_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgb(241, 180, 26);
  padding: 15px;
}

.post_comment{
  outline: 1px solid grey;
  background-color: rgb(243, 201, 94);
  padding: 5px;
  width: 600px;
}

.post_img{
  max-width: 300px;
  height: auto;
}

.comment_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment_btn{
  margin-left: 215px;
}

.creator_grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creator_about{
  width: 600px;
}

.profile_pic{
  border-radius: 50%;
  width: 400px;
  height: auto;
}

.media_frame{
  padding: 10px;
}

.new_post{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.post_form{
  border-radius: 10px;
  width: 60vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  outline: 1px solid grey;
  padding: 10px;
  margin-top: 25px;
  background-image: url('https://i.imgur.com/gDJVUdo.jpg');
  text-shadow: .5px .5px white;
}

.post_button{
  padding: 5px;
  margin-top: 15px;
  margin-left: 80px;
  background-color: rgb(214, 190, 235);
  border: none;
  border-radius: 3px;
}

.post_button:hover{
  transform: scale(1.01);
  background-color: rgb(109, 218, 218);
}