.App {
  text-align: center;
}

.header_container{
  display: flex;
  flex-direction: column;
  
}

.header {
  background-color: rgb(244, 209, 137);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  outline: 2px solid
}

.logo{
  width: 400px;
}

.header_img{
  width:200px;
  height:auto;
  animation: fadeinout 6s linear infinite;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: .4;
  }
  50% {
    opacity: 1;
  }
}

.nav_header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_links{
  margin: 0px 50px 10px 50px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  background-image: url('https://i.pinimg.com/736x/4c/37/3b/4c373b38fd7a36aabf42c42d457cf6d9--buddha-printing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  color: rgb(242, 191, 125);
  text-shadow: 1px 1px black;
}

.post_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgb(241, 180, 26);
  padding: 15px;
}

.post_comment{
  outline: 1px solid grey;
  background-color: rgb(243, 201, 94);
  padding: 5px;
  width: 600px;
}

.post_img{
  max-width: 300px;
  height: auto;
}

.comment_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment_btn{
  margin-left: 215px;
}

.creator_grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creator_about{
  width: 600px;
}

.profile_pic{
  border-radius: 50%;
  width: 400px;
  height: auto;
}

.media_frame{
  padding: 10px;
}

.new_post{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.post_form{
  border-radius: 10px;
  width: 60vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  outline: 1px solid grey;
  padding: 10px;
  margin-top: 25px;
  background-image: url('https://i.imgur.com/gDJVUdo.jpg');
  text-shadow: .5px .5px white;
}

.post_button{
  padding: 5px;
  margin-top: 15px;
  margin-left: 80px;
  background-color: rgb(214, 190, 235);
  border: none;
  border-radius: 3px;
}

.post_button:hover{
  transform: scale(1.01);
  background-color: rgb(109, 218, 218);
}

.om{
  width: 60px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.oms{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.om_digit{
  margin-right: 40px;
}

.user_field{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(228, 215, 240);
  outline: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}