@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

body {
  margin: 0;
  background-color: rgb(247, 207, 127);
  font-family: 'Zen Antique', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
